body {
	      background-image: url('Background_for_firstpage.jpg'); /*This is to use image as background.*/
	      background-size: cover; /*This is to make the image to cover the whole page.*/
	      background-attachment: fixed; /*This command is to make the background steady.*/
	      background-position: center; /*This will make image center so we dont only see stuff that is on left.*/
     		}
	/*This is for style ling */
  ul.nav{
       margin: 0%;
       padding: 6px;
       background-color: green;
       list-style: none;
       display: flex;
     }
  /*Styling the list content so it moves more to left.*/
  li.navlist{
       margin-left: 2%;
       font-size: 20px;
     }

  /*Styling the buttons in navigation bar.*/
  a.navlink {
      color: white;
      text-decoration: none;
      padding: 17px;
      display: block;
    }
  /*This is so that when we over the links it changes size and color.*/
  a:hover{color: blue;
    font-size: 25px;
          background-color: coral;
  }
	/*This is so if we ever have to center any text we can use it.*/
	.center{text-align: center;
	}
	h1.page1h1{margin-top: 3%;
	  color: red;
	  text-align: center;
	  font-size: 40px;
	  }
	p.page1p1{margin-top: 3%;
	  color: black;
	  text-align: center;
	  font-size: 20px;
	  font-family: arial;
	  }
	p.facts{margin-top: 4%;
	font-size: 20px;
	margin-left: 10%;
	}
	ul.factslist{margin-left: 20%;
	    font-size: 20px;
	    padding: 6px;
		    }
	p.spirit{margin-top: 55px;
	font-size: 20px;
	margin-left: 10%;
	}
	p.spiritdetail{margin-left: 20%;
		    font-size: 20px;
		    padding: 6px;
		    }
	img.page1img{margin-left: 34%;
		    margin-top: 3%;
		    width: 35%;
		    height: 35%;
		    }
	img.page2himg{margin-left: 34%;
		    margin-top: 3%;
		    width: 35%;
		    height: 35%;
		    }
	dl.factslistpage2{margin-left: 20%;
			    font-size: 20px;
			    padding: 6px;
			    }
	dt.page2-1{color: green;
	            }
	dt.page2-2{color: red;
	            }
	dt.page2-3{color: blue;
	            }
	dt.page2-4{color: black;
	            }
	dt.page2-5{color: purple;
	            }
	dt.page2-6{color: coral;
	            }
	span.factscolor1{color: red;
	                 }
	span.factscolor2{color: blue;
	                 }
	span.factscolor3{color: green;
	                 }
	span.factscolor4{color: yellow;
	                 }
	span.factscolor5{color: olive;
	                 }
	span.factscolor6{color: maroon;
	                 }
	span.factscolor7{color: purple;
	                 }
	span.factscolor8{color: lime;
 	                }
	p.closingline{margin-top: 55px;
		      font-size: 20px;
		      margin-left: 10%;
		      color: purple;
		      font-size: 30px;}
			table {font-family: Arial;
		       border-collapse: collapse;
               		width: 80%;
	           	margin-left: 10%;
			margin-top: 3%;}
		th, td {border: 2px solid #ddd;
  			padding: 8px;
			text-align: left;}
		th {padding-top: 12px;
  		    padding-bottom: 12px;
  		    background-color: lightpink;
  		    color: white;}
		tr.firstrow{background-color: coral;}
		tr.secondrow{background-color: red;}
		tr.thirdrow{background-color: green;}
		tr.fourthrow{background-color: cyan;}
		tr.fifthrow{background-color: orange;}
		tr.sixthrow{background-color: lime;}